.model{
    text-align: center;
    width: 100%;
}

.activateBtn, .cameraBtn, .resultBtn{
    border: 2px solid skyblue;
    border-radius: 5px;
    padding:  5px 20px;
    font-size: 1.2rem;
    margin: 20px;
}

.activateBtn:hover, .cameraBtn:hover, .resultBtn:hover{
    transition: 0.5s;
    cursor: pointer;
    color: white ;
    background-color: blue;
    border-color: blue;
}