.problem-box{
    background: #966D51;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.problem-description{
    width: 50vw;
}