.problem-box{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.problem-description{
    width: 50vw;
}
.problem-description p{
    color: black;
}