.guide-box{
    color: #FEFEFA;
    background-color: #966D51;
}

.guide-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 50px;
}

.youtube{
    border-radius: 2em;
    width: 400px;
    height: 300px;
}

.youtube:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 1s;
}

.guide-description{
    padding: 50px;
    padding-right: 100px;
    text-align: left;
}

.guide-description h1{
    font-size: 3em;
}

.guide-description h3{
    margin-bottom: 0.5em;
    text-decoration: underline;
    font-size: 2em;
}

.guide-description p{
    margin-top: 0;
    font-size: 1.5em;
}

@media screen and (max-width: 850px){
    .guide-box2{
        flex-direction: column;
    }

    .guide-description{
        text-align: center;
        padding: 10px 50px;
    }

    .youtube{
        margin: 40px 0;
        width: 70vw;
        height: 55vw;
    }
}