.guide-box{
    color: #FEFEFA;
    background-color: #966D51;
}

.guide-box2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 50px;
}

.videoBtn{
    padding: 1em 1em;
    background: #101820FF;
    transition: 0.5s;
    border-radius: 1em;
}

.videoBtn a{
    text-decoration: none;
    color: #FEFEFA;
    font-size: 1.5em;
}

.videoBtn:hover{
    box-shadow: 0 0 0 2px #FEFEFA;
    transform: translateY(5px);
}

.guide-description{
    padding: 50px;
    padding-right: 100px;
    text-align: left;
}

.guide-description h1{
    font-size: 3em;
}

.guide-description h3{
    margin-bottom: 0.5em;
    text-decoration: underline;
    font-size: 2em;
}

.guide-description p{
    margin-top: 0;
    font-size: 1.5em;
}

@media screen and (max-width: 850px){
    .guide-box2{
        flex-direction: column;
    }

    .guide-description{
        text-align: center;
        padding: 10px 50px;
    }
}