.background-box{
    background-color: #583C2C;
    color: white;
}

.background-box .bg-content-box1, .background-box .bg-content-box2{
    display: flex;
    text-align: left;
    margin-inline: 1em;
    padding-block: 1em;
}

.background-box .bg-content-box1{
    flex-direction: row-reverse;
}

.background-box .bg-content-box2{
    flex-direction: row;
}

.background-box img{
    max-width: 40vw;
    max-height: 30vw;
}

.background-box .background-content{
    margin-inline: 2em;
}

.background-box .background-content h2{
    margin-top: 0;
    font-size: 3em;
}

.background-box .background-content h4{
    font-size: 2em;
}

.background-box .background-content p{
    font-size: 1.5em;
    line-height: 1.5em;
}

@media screen and (max-width: 1200px){
    .background-box .background-content h2{
        font-size: 2em;
    }
    
    .background-box .background-content h4{
        font-size: 1.5em;
    }
    
    .background-box .background-content p{
        font-size: 1.4em;
        line-height: 1.3em;
    }
}

@media screen and (max-width: 800px){
    .background-box .bg-content-box1, .background-box .bg-content-box2{
        text-align: center;
        display: unset;
    }
    
    .background-box img{
        max-width: 90vw;
        max-height: 68vw;
    }
    
    .background-box .background-content{
        margin-inline: 2em;
    }
    
    .background-box .background-content h2{
        margin-top: 0.5em;
        font-size: 3em;
    }
    
    .background-box .background-content h4{
        font-size: 2em;
    }
    
    .background-box .background-content p{
        font-size: 1.3em;
        line-height: 1.5em;
    }
}